@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700;800&family=Poppins:wght@400;500;600;700;800&family=Rubik:wght@200;400;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Karla', 'Poppins', 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body .howToPlayOverride {
  overscroll-behavior: auto !important;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiBottomNavigation-root {
  background-color: #02215f !important;
}

p {
  margin: 0;
}
