## [Start] Setting "gameTemplatesCount" to default value of "0". **
$util.qr($context.args.input.put("gameTemplatesCount", $util.defaultIfNull($ctx.args.input.gameTemplatesCount, 0)))
## [End] Setting "gameTemplatesCount" to default value of "0". **
## [Start] Setting "type" to default value of "QuestionTemplate". **
$util.qr($context.args.input.put("type", $util.defaultIfNull($ctx.args.input.type, "QuestionTemplate")))
## [End] Setting "type" to default value of "QuestionTemplate". **
{}