## [Start] Setting "isSubmitted" to default value of "false". **
$util.qr($context.args.input.put("isSubmitted", $util.defaultIfNull($ctx.args.input.isSubmitted, false)))
## [End] Setting "isSubmitted" to default value of "false". **
## [Start] Setting "isShortAnswerEnabled" to default value of "false". **
$util.qr($context.args.input.put("isShortAnswerEnabled", $util.defaultIfNull($ctx.args.input.isShortAnswerEnabled, false)))
## [End] Setting "isShortAnswerEnabled" to default value of "false". **
{}