## [Start] Setting "choices" to default value of "[]". **
$util.qr($context.args.input.put("choices", $util.defaultIfNull($ctx.args.input.choices, [])))
## [End] Setting "choices" to default value of "[]". **
{}