## [Start] Setting "score" to default value of "0". **
$util.qr($context.args.input.put("score", $util.defaultIfNull($ctx.args.input.score, 0)))
## [End] Setting "score" to default value of "0". **
## [Start] Setting "selectedAvatarIndex" to default value of "0". **
$util.qr($context.args.input.put("selectedAvatarIndex", $util.defaultIfNull($ctx.args.input.selectedAvatarIndex, 0)))
## [End] Setting "selectedAvatarIndex" to default value of "0". **
{}