## [Start] Setting "isHintEnabled" to default value of "false". **
$util.qr($context.args.input.put("isHintEnabled", $util.defaultIfNull($ctx.args.input.isHintEnabled, false)))
## [End] Setting "isHintEnabled" to default value of "false". **
## [Start] Setting "isConfidenceEnabled" to default value of "false". **
$util.qr($context.args.input.put("isConfidenceEnabled", $util.defaultIfNull($ctx.args.input.isConfidenceEnabled, false)))
## [End] Setting "isConfidenceEnabled" to default value of "false". **
{}