## [Start] Setting "confidenceLevel" to default value of "NOT_RATED". **
$util.qr($context.args.input.put("confidenceLevel", $util.defaultIfNull($ctx.args.input.confidenceLevel, "NOT_RATED")))
## [End] Setting "confidenceLevel" to default value of "NOT_RATED". **
{}