## [Start] Setting "isConfidenceEnabled" to default value of "false". **
$util.qr($context.args.input.put("isConfidenceEnabled", $util.defaultIfNull($ctx.args.input.isConfidenceEnabled, false)))
## [End] Setting "isConfidenceEnabled" to default value of "false". **
## [Start] Setting "isShortAnswerEnabled" to default value of "false". **
$util.qr($context.args.input.put("isShortAnswerEnabled", $util.defaultIfNull($ctx.args.input.isShortAnswerEnabled, false)))
## [End] Setting "isShortAnswerEnabled" to default value of "false". **
## [Start] Setting "isHintEnabled" to default value of "true". **
$util.qr($context.args.input.put("isHintEnabled", $util.defaultIfNull($ctx.args.input.isHintEnabled, true)))
## [End] Setting "isHintEnabled" to default value of "true". **
{}