## [Start] Setting "questionTemplatesCount" to default value of "0". **
$util.qr($context.args.input.put("questionTemplatesCount", $util.defaultIfNull($ctx.args.input.questionTemplatesCount, 0)))
## [End] Setting "questionTemplatesCount" to default value of "0". **
## [Start] Setting "type" to default value of "GameTemplate". **
$util.qr($context.args.input.put("type", $util.defaultIfNull($ctx.args.input.type, "GameTemplate")))
## [End] Setting "type" to default value of "GameTemplate". **
{}